html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: aller, sans-serif;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: aller, sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 24px;
	//noinspection CssOverwrittenProperties
	color: $default-text;
	//noinspection CssOverwrittenProperties
	color: var(--text);
	font-family: riffic, sans-serif;
	text-align: center;
}

h2 {
	//noinspection CssOverwrittenProperties
	color: $default-text;
	//noinspection CssOverwrittenProperties
	color: var(--text);
}

input,
textarea {
	//noinspection CssOverwrittenProperties
	border: 2px solid $default-border;
	//noinspection CssOverwrittenProperties
	border: 2px solid var(--border);
}

button,
select,
.btn {
	padding: 1px;

	//noinspection CssOverwrittenProperties
	border: 2px solid $default-border;
	//noinspection CssOverwrittenProperties
	border: 2px solid var(--border);

	//noinspection CssOverwrittenProperties
	background: $default-accent-background;
	//noinspection CssOverwrittenProperties
	background: var(--accent-background);
	//noinspection CssOverwrittenProperties
	color: $default-text;
	//noinspection CssOverwrittenProperties
	color: var(--text);

	&:active {
		background: $default-border;
		background: var(--border);
	}
}

button:disabled,
select:disabled,
.btn:disabled {
	background: $default-border;
	background: var(--border);
	//noinspection CssOverwrittenProperties
	color: $default-text-disabled;
	//noinspection CssOverwrittenProperties
	color: var(--text-disabled);
}

button,
.btn {
	padding: 2px;
	text-align: center;
	text-decoration: none;
	user-select: none;

	i {
		vertical-align: middle;
	}

	&.disabled {
		color: gray;
		pointer-events: none;
	}
}

input[type='number'] {
	text-align: right;
}

input,
textarea {
	background: $default-native-background;
	background: var(--native-background);
	//noinspection CssOverwrittenProperties
	color: $default-text;
	//noinspection CssOverwrittenProperties
	color: var(--text);
}

input:disabled,
textarea:disabled {
	//noinspection CssOverwrittenProperties
	color: $default-text-disabled;
	//noinspection CssOverwrittenProperties
	color: var(--text-disabled);
}

a {
	color: var(--link);
}

p {
	//noinspection CssOverwrittenProperties
	color: $default-text;
	//noinspection CssOverwrittenProperties
	color: var(--text);
}

body {
	--native-background: #ffffff;
	--accent-background: #ffe6f4;
	--border: #ffbde1;
	--text: #000000;
	--text-disabled: rgba(20, 20, 20, 0.5);
	--error: #880000;
	--link: #0000ee;
	--modal-backdrop: rgba(0, 0, 0, 0.5);
	--modal-backdrop-light: rgba(0, 0, 0, 0.25);

	//noinspection CssOverwrittenProperties
	color: $default-text;
	//noinspection CssOverwrittenProperties
	color: var(--text);

	background: $default-native-background;
	background: var(--native-background);
}

//noinspection CssUnusedSymbol
body.dark-theme {
	--native-background: #242424;
	--accent-background: #200f19;
	--border: #5b2545;
	--text: #ffffff;
	--text-disabled: rgba(220, 220, 220, 0.5);
	--error: #ff5555;
	--link: #6666ee;
	--modal-backdrop: rgba(255, 255, 255, 0.5);
	--modal-backdrop-light: rgba(255, 255, 255, 0.75);
}
