// This fixes a bug in webkit, where 100% height inside a flex can cause a crash
@mixin height-100() {
	height: 10000px;
	max-height: 100%;
}

$default-native-background: #ffffff;
$default-accent-background: #ffe6f4;
$default-text-disabled: rgba(20, 20, 20, 0.5);
$default-border: #ffbde1;
$default-text: #000000;
$default-error: #880000;
$default-link: #0000ee;

$default-modal-backdrop: rgba(0, 0, 0, 0.5);
$default-modal-backdrop-light: rgba(0, 0, 0, 0.25);
