html,
body {
	width: 100vw;
	height: 100vh;
	//overflow: hidden;
	font-family: aller, sans-serif;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: aller, sans-serif;
	font-size: 16px;
}

.shortcut-popup {
	background: white;
	padding: 2px;
	border: 1px solid black;
	color: black;
	font-size: 0.7em;
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
}

.ctrl-key .shortcut-popup {
	display: block !important;
}

.ctrl-key .shortcut-span {
	text-decoration: underline !important;
}

h1 {
	font-size: 24px;
	//noinspection CssOverwrittenProperties
	color: $default-text;
	//noinspection CssOverwrittenProperties
	color: var(--text);
	font-family: riffic, sans-serif;
	text-align: center;
}

h2 {
	//noinspection CssOverwrittenProperties
	color: $default-text;
	//noinspection CssOverwrittenProperties
	color: var(--text);
}

input,
textarea {
	//noinspection CssOverwrittenProperties
	border: 2px solid $default-border;
	//noinspection CssOverwrittenProperties
	border: 2px solid var(--border);
}

button,
select,
.btn {
	padding: 1px;

	//noinspection CssOverwrittenProperties
	border: 2px solid $default-border;
	//noinspection CssOverwrittenProperties
	border: 2px solid var(--border);

	//noinspection CssOverwrittenProperties
	background: $default-accent-background;
	//noinspection CssOverwrittenProperties
	background: var(--accent-background);
	//noinspection CssOverwrittenProperties
	color: $default-text;
	//noinspection CssOverwrittenProperties
	color: var(--text);

	&:active {
		background: $default-border;
		background: var(--border);
	}
}

button:disabled,
select:disabled,
.btn:disabled {
	background: $default-border;
	background: var(--border);
	//noinspection CssOverwrittenProperties
	color: $default-text-disabled;
	//noinspection CssOverwrittenProperties
	color: var(--text-disabled);
}

input,
button,
select,
.btn {
	height: 28px;
}

button,
.btn {
	padding: 2px;
	text-align: center;
	text-decoration: none;
	user-select: none;

	i {
		vertical-align: middle;
	}

	&.disabled {
		color: gray;
		pointer-events: none;
	}
}

input[type='number'] {
	text-align: right;
}

input,
textarea {
	background: $default-native-background;
	background: var(--native-background);
	//noinspection CssOverwrittenProperties
	color: $default-text;
	//noinspection CssOverwrittenProperties
	color: var(--text);
}

input:disabled,
textarea:disabled {
	//noinspection CssOverwrittenProperties
	color: $default-text-disabled;
	//noinspection CssOverwrittenProperties
	color: var(--text-disabled);
}

a {
	color: var(--link);
}

p {
	//noinspection CssOverwrittenProperties
	color: $default-text;
	//noinspection CssOverwrittenProperties
	color: var(--text);
}

body {
	--pinkHue: 326;
	--native-background: #f8f8f8;
	--accent-background: hsl(var(--pinkHue), 100%, 95%);
	--border: hsl(var(--pinkHue), 100%, 75%);
	--border-fieldset: hsla(var(--pinkHue), 100%, 75%, 50%);
	--text: #000000;
	--text-disabled: rgba(20, 20, 20, 0.5);
	--error: #880000;
	--link: #0000ee;
	--modal-backdrop: rgba(0, 0, 0, 0.5);
	--modal-backdrop-light: rgba(0, 0, 0, 0.25);

	//noinspection CssOverwrittenProperties
	color: $default-text;
	//noinspection CssOverwrittenProperties
	color: var(--text);

	background: $default-native-background;
	background: var(--native-background);
}

//noinspection CssUnusedSymbol
body.dark-theme {
	--native-background: #080808;
	--accent-background: hsl(var(--pinkHue), 100%, 5%);
	--border: hsl(var(--pinkHue), 100%, 25%);
	--border-fieldset: hsla(var(--pinkHue), 100%, 25%, 50%);
	--text: #ffffff;
	--text-disabled: rgba(220, 220, 220, 0.5);
	--error: #ff5555;
	--link: #6666ee;
	--modal-backdrop: rgba(255, 255, 255, 0.5);
	--modal-backdrop-light: rgba(255, 255, 255, 0.75);
}

.panel.vertical {
	.v-w100 {
		width: 100%;
	}
	.v-w50 {
		width: 50%;
	}
	.v-bt0 {
		border-top: 0;
	}
	.v-bl0 {
		border-left: 0;
	}

	textarea {
		resize: vertical;
	}
}

.panel:not(.vertical) {
	.h-h100 {
		height: 100%;
	}
	.h-bt0 {
		border-top: 0;
	}
	.h-bl0 {
		border-left: 0;
	}

	textarea {
		resize: horizontal;
	}
}

.w100 {
	width: 100%;
}

.bt0 {
	border-top: 0;
}

.bl0 {
	border-left: 0;
}

// Specificity nonsense
button.bt0 {
	border-top: 0;
}

// Specificity nonsense
button.bl0 {
	border-left: 0;
}

.button-tbl {
	border-collapse: collapse;
	width: 100%;
	td {
		//noinspection CssOverwrittenProperties
		border: 2px solid $default-border;
		//noinspection CssOverwrittenProperties
		border: 2px solid var(--border);

		> * {
			border: 0;
		}
	}
}
